.container {
  margin: 0 auto;
  max-width: 800px;
}

@media screen and (max-width: 820px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.row {
  margin: 0 -0.75rem;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 580px) {
  .hide {
    display: none;
  }
}

.col {
  margin: 0 0.75rem;
}

.card {
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 0.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
