.text-faded {
  color: #555;
}

.text-align-start {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: normal;
}

.font-italic {
  font-style: italic;
}
